<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-campground me-3"></i>露營筆記</a>
      {{#if user}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {{#if user.isAdmin}}
          <li class="nav-item">
            <a href="/admin" class="nav-link">Admin 後台</a>
          </li>
          {{/if}}
          <li class="nav-item d-inline-flex align-items-center">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle me-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                我要分享
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/albums/create">建立相簿</a></li>
                <li><a class="dropdown-item" href="/campsites/create">新增露營區</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item d-inline-flex align-items-center me-3">
            <div class="dropdown">
              <img {{#if user.image}}src="{{user.image}}" {{else}}src="https://fakeimg.pl/150/?text=photo" {{/if}}
                style="border-radius:50%; width:40px; height:40px" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/users/{{user._id}}">個人檔案</a></li>
                <li><a class="dropdown-item" href="/logout">登出</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      {{else}}
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
      <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle me-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          我要分享
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/albums/create">建立相簿</a></li>
          <li><a class="dropdown-item" href="/campsites/create">新增露營區</a></li>
        </ul>
      </div>
      </li>
      <li class="nav-item">
        <a href="/signin"><button class="btn btn-outline-success my-sm-0 my-2">登入</button></a>
      </li>
      </ul>
      {{/if}}
    </div>
  </nav>
</header>