version: '3.8'
services:
   web:
        image: nicole831220/camping-note
        env_file: .env.example    
        ports:
            - "3000:3000"   
        environment:
            CLEANUP_ONDESTROY: true
        volumes:
          - ./:/app  
          - /app/node_modules  